<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>
    <div class="about content">
      <h2>About Us</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt,
        sapiente aliquid suscipit beatae ipsam dicta. Delectus laboriosam vitae
        officia fuga dolores, beatae, porro odio nihil aspernatur ratione
        debitis unde ullam!
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt,
        sapiente aliquid suscipit beatae ipsam dicta. Delectus laboriosam vitae
        officia fuga dolores, beatae, porro odio nihil aspernatur ratione
        debitis unde ullam!
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt,
        sapiente aliquid suscipit beatae ipsam dicta. Delectus laboriosam vitae
        officia fuga dolores, beatae, porro odio nihil aspernatur ratione
        debitis unde ullam!
      </p>
    </div>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
